/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/**************/
/*   Styles   */
/**************/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  overflow-x:hidden;
  width:100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

}

h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 1em;
}
h2 {
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  margin-top: 1em;

}
p, ul {
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0em 2em;
  line-height: 1.6;
}

.avatar {
  height: auto;
  max-width:80px;
  border-radius: 50%;
}

.skills li{
  list-style-type: square;
}
.about-section {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
}
/* stacked column below 48em */
.flex-split-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  height: auto;
  /*box-shadow: inset 0 0 1px white;*/
  padding-bottom: 2em;
	width: auto;
background-repeat: no-repeat;
background-size: auto;
	background-image: url("/img/Photo.jpeg");
	background-position:center;
}
.logothing {
  margin-top: 1em;
  height: 100%;
  width: auto;
background-repeat: no-repeat;
  background-position: 10px 25px;
}

.flex-split-image {
  align-self: center;
  height: 90px;
  width: auto;
  margin-bottom: 2em;
  margin-top: 2em
}
.left-links {
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-split-left a {
	text-decoration:none;
  color: white;
  font-weight: bold;
  padding: 0.2rem 0.4rem;
}
.flex-split-left a:hover {
  background-color: white;
  color: hsl(255, 100%, 61%);
}

.flex-split-left a:active {

}

.flex-split-left a:visited {

}
.flex-split-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*-webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;*/
  /*margin-top: 2em;*/
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: hsl(0, 0%, 14%);
/*this in the flex-item that we want scrollable*/
  -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
	overflow-y: scroll;
	overflow-y: overlay;
	overflow-x: hidden;
  height: auto;
}
.flex-split-right h1, .flex-split-right h2 {
  color: hsl(255, 100%, 62%);

}
.flex-split {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

}
.right-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*FIXME get rid of importants*/
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: row !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100vw;
  background-color: hsl(255, 100%, 61%);
}
.circle-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0.5em 2em;
  fill: white;
}

.circle-button i{
	position: center;
	background-size: contain;
}

/***************************/
/* SPLIT SCREEN ABOVE 60EM */
/***************************/
@media all and (min-width:60em) {
  .flex-split > div {
	}
  .flex-split {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
    overflow: hidden;
    height: 100vh;
/*This here in flex-parent for making only certain items scrollable */
    position: relative;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    will-change: overflow;
	}

  .logothing {
    height: 1000px;
    width: auto;
  }
  .left-links {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
  .flex-split-image {
    height: 300px;
    width: auto;
    margin-bottom: 2em;
  }
  /*circular buttons in the middle at big enough screens*/
  .middle-controls {
    z-index: 1000;
    position: relative;
    top: 20%;
    margin-left: -25px;
    max-width: 50px;
    /*FIXME get rid of importants*/
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
  }
  .circle-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 2px 2px hsla(255, 59%, 23%, 0.42);
    border-radius: 50%;
    border: 2px solid hsl(255, 100%, 61%);
    background-color: white;
    margin-bottom: 2em;
    color: hsl(255, 100%, 61%);
    padding: 0.5em 0.5em;
    fill: hsl(255, 100%, 61%);
    }

  .circle-button:hover {
    border: 2px solid white;
    background-color: hsl(255, 100%, 61%);
    -webkit-transition:all 0.4s ease-out;
    transition: all 0.4s ease-out;
    color: white;
    fill: white;
  }
  .circle-button:active {
    border: 2px solid white;
    background-color: hsl(255, 100%, 61%);
    -webkit-transition:all 60ms ease;
    transition: all 60ms ease;
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
    color: white;
    fill: white;
  }

  p, ul {
  padding: 0em 4em;
  }
}

.flex-split > div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}


.white-border-button a {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding: 12px 20px;
  border: 1px solid #fff;
  border-radius: 24px;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: all 0.3s;
	margin-left: 1.0em;
	margin-right: 1.0em;
}

.white-border-button a:hover {
  background-color: #fff;
  color: #517df0;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline p, ul {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0em 2em;
  line-height: 1.6;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
	  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 2px;
  background-color: grey;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 20px 20px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
	  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
	  box-sizing: border-box;
  margin-left: 0;
}

/* Place the container to the right */
.right {
	  box-sizing: border-box;
  margin-left:50%;
}

/* Fix the circle for containers on the right side */
.right::after {
	  box-sizing: border-box;
  left: -15px;
}

.left::after {
	  box-sizing: border-box;
  right: -12px;
}
/* The actual content */
.content {
	box-sizing: border-box;
  padding: 20px 30px;
  background-color: white;
	border-color: grey;
  position: relative;
  border-radius: 2px;
	padding: 5px 0px 5px 0px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
	  box-sizing: border-box;
/* Place the timelime to the left */
  .timeline::after {
    left: 2px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 5px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
